 .u-section-1 {
  background-image: url("images/Background_Images.webp");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 478px;
}

.u-section-1 .u-image-1 {
  width: 298px;
  height: 298px;
  margin: 160px auto 0 11px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: -273px 272px 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 30px 59px 60px 385px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 491px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 165px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -278px;
    margin-right: 132px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 28px;
    margin-right: -12px;
    margin-left: 325px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 628px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 123px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 13px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin: 13px 0 13px 13px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 697px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 153px;
    margin-left: 82px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -7px;
    margin-left: 28px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 36px;
    margin-bottom: 11px;
    margin-left: 28px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 760px;
  }

  .u-section-1 .u-image-1 {
    width: 245px;
    height: 245px;
    margin-top: 188px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 38px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 16px;
    margin-bottom: 10px;
  }
}